/*
Custom CSS Document
 */
* {
    color: darkslategray;
}

body {
    background: lightsteelblue;
}

.upload_image {
    background: transparent;
    text-align: right;
}

.upload_image img {
    width: 250px;
    height: 300px;
}

.user_image_post {
    background: transparent;
}

.user_image_post textarea {
    resize: none;
    background: transparent;
}

.list {
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow-y: scroll;
    padding: 7px;
    height: 300px;
    width: 180px;
    border: 2px solid black;
}

.post_img {
    padding: 5px;
    height: auto;
    max-width: 536px;
    min-height: 230px;
}